       body{
        background-color: gray;
        }
        h1 {
            color:Purple;
            font-family: Arial;
        }
        .strong {
            color:blue;
            font-family: Arial;
            
        }
        .em {
            color: green;
            font-family: Georgia;
        }
        ul {
            font-family:arial;
        }     
        h3{
            color:Pink;
            font-size:medium;
        }
        ol {
            font-family: arial;
        }
        table, th,td {
                border: 100px solid black;
                width: 500px;
                border-collapse: collapse;
            }
       .photo-area {
	width: 100px;
	height: 130px;
	padding: 10px;
	border: 1px solid #666;
	overflow: hidden;
	position: relative;
	margin: 10px;
	background: white;
}
#photo {
	width: 100px;
	height: 100px;
	background: url(images/mthood.jpg) center center;
	margin-bottom: 5px;
}
.info-area {
	opacity: 0.0;
	}
	a.more-info {
		display: block;
		width: 89px;
		height: 26px;
		background: url(images/moreinfo.jpg);
		text-indent: -9999px;
	}
	a.close {
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: block;
		width: 20px;
		height: 21px;
		background: url(images/close_button.jpg);
		text-indent: -9999px;
	}
